<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
  {% load static %}  
  <main class="container">
    <nav>
      <ul>
        <li><img style="max-width: 100px; margin-right: 50px;" src="{% static 'img/dj_logo.png' %}" alt="Logo de djangword"></li>
        <li><a href="{% url 'items:create_item' %}">Créer un item</a></li>
        <li><a href="{% url 'items:items_list' %}">Voir ses items</a></li>
        <li><a href="{% url 'history:history' %}">Voir l'hitorique de ses items</a></li>
      </ul>
      <ul>
        <li><a href="{% url 'accounts:changedmymind' %}" >Changer son mot de passe</a></li>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </main>
  {% block script %}
  {% endblock %}
</body>
</html>
